#center_stone {
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  background-repeat: no-repeat;
  background-position: 50%;
}

.box {
  border: 1px solid #000;
  background-color: #fdfdfd;
}
#properties_box {
  top: 10px;
  right: 10px;
  width: 250px;
  height: 100px;
}
#stone_number_box {
  top: 5px;
  width: 100%;
  height: 36px;
  font-size: 30px;
}
#stone_number_label {
  left: 10px;
}
#stone_number {
  right: 10px;
}

#sps_number_box {
  top: 45px;
  width: 100%;
  height: 36px;
  font-size: 30px;
}
#sps_number_label {
  left: 10px;
}
#sps_number {
  right: 10px;
}